<div id="post">
  <h1>
    <strong>Job Title:</strong>
    <%= post.title %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Compensation:</strong>
    <%= post.compensation %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= post.location %>
  </p>

  <p>
    <strong>Employment Type:</strong>
    <%= post.employment %>
  </p>

  <p>
    <strong>Company Name:</strong>
    <%= post.company %>
  </p>

</div>